.empass{
    width: 16vw;
    margin:  3px auto;
}
.subbtn:hover{
    /* background-color: blue; */
    cursor: pointer;
    font-weight: bolder;
}
.checks label:hover{
    cursor: pointer;
    color: blue;
}
/* .crtaccn a:hover{
    color: red;
}
.crtaccn a{
    text-decoration: none;
    color: white;
} */
